{% extends 'monitor.twig' %}
{% block head %}
    <script>
        var chart_route = '{{ path("api_domain", {domain: domain}) }}';
        var info_route = '{{ path("api_domain_status", {domain: domain}) }}';
    </script>
{% endblock %}