body{
    background: #232323;
    color: #555555;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 20px;
}

.container{
    width: 960px;
    margin: 0 auto;
}

.domain{
    width: 30%;
    height: 270px;
    margin-right: 3%;
    float: left;
    position: relative;
}

.domain h5{
    margin-top: 20px;
    text-align: center;
}

.domain .chart{
    position: absolute;
    top: 40px;
    left: 20px;
    bottom: 20px;
    right: 0;
}

@media (max-width: 1024px){
    .domain{
        width: 45%;
        margin-right: 5%;
    }
}

@media (max-width: 768px){
    .domain{
        width: 100%;
        margin-right: 0;
    }
}

.info{
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
    width: auto;
    height: 19%;
}

.info .btn-default{
    background: #232323;
    color: #555;
    border-color: #333;
    margin-right: 20px;
    margin-bottom: 20px;
}
.info .btn-default:hover{
    border-color: #444;
}

table{
    border-spacing: 2px;
    border-collapse: separate;
}

.yaxisLabel {
    top: 195px;
    left: 2px;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
.axisLabel {
    position: absolute;
    text-align: center;
    font-size: 12px;
}
.xaxisLabel{
    bottom: 0;
    left: 50%;
    margin-left: -36px;
}