<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Prism{% endblock %}</title>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
        <link href="/css/style.css" type="text/css" rel="stylesheet" />
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.flot.min.js"></script>
        <script src="/js/jquery.flot.time.min.js"></script>
        <script src="/js/jquery.flot.resize.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        {% block head %}

        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
</html>
